/CodeSniffer.conf
/phpcs.xml
/phpunit.xml
/phpunitlte9.xml
/phpunit-lte9.xml
.phpunit.result.cache
/build/
.idea/*
/vendor/
composer.lock
phpstan.neon
/node_modules/
/tests/Standards/sniffStnd.xml
/tests/Core/Util/ExitCode/Fixtures/ExitCodeTest/*.fixed
/tests/Core/Util/ExitCode/Fixtures/ExitCodeTest/phpcs.cache
/tests/EndToEnd/Fixtures/*.fixed
/lib/
