.idea/*
build/
lib/
node_modules/
vendor/
/.phpunit.result.cache
/CodeSniffer.conf
/composer.lock
/phpcs.xml
/phpstan.neon
/phpunit.xml
/phpunitlte9.xml
/phpunit-lte9.xml
/tests/Standards/sniffStnd.xml
/tests/Core/Util/ExitCode/Fixtures/ExitCodeTest/*.fixed
/tests/Core/Util/ExitCode/Fixtures/ExitCodeTest/phpcs.cache
/tests/EndToEnd/Fixtures/*.fixed
