parameters:
    phpVersion:
        min: 70200
        max: 80499
    level: 0
    paths:
        - requirements.php
        - src
    excludePaths:
        - src/Standards/Generic/Tests/*
        - src/Standards/PEAR/Tests/*
        - src/Standards/PSR1/Tests/*
        - src/Standards/PSR2/Tests/*
        - src/Standards/PSR12/Tests/*
        - src/Standards/Squiz/Tests/*
        - src/Standards/Zend/Tests/*
    bootstrapFiles:
        - tests/bootstrap.php

    dynamicConstantNames:
        - PHP_CODESNIFFER_IN_TESTS
        - PHP_CODESNIFFER_CBF
        - PHP_CODESNIFFER_VERBOSITY
