parameters:
    phpVersion:
        min: 70200
        max: 80499
    level: 0
    paths:
        - requirements.php
        - src
    bootstrapFiles:
        - tests/bootstrap.php

    dynamicConstantNames:
        - PHP_CODESNIFFER_IN_TESTS
        - PHP_CODESNIFFER_CBF
        - PHP_CODESNIFFER_VERBOSITY
